<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-sm-12">
        <div class="mailbox">
          <div class="mailbox-header">
            <div class="row">
              <div class="col-xs-4">
                <div class="inbox-avatar">
                  <i class="fa fa-user-circle fa-lg"></i>
                  <div class="inbox-avatar-text hidden-xs hidden-sm">
                    <div class="avatar-name"> Inobx </div>
                    <div><small>Messages</small></div>
                  </div>
                </div>
              </div>
              <div class="col-xs-8">
                <div class="inbox-toolbar btn-toolbar">
                  <div class="btn-group">
                    <a href="#/messages/compose" class="btn btn-add"><span class="fa fa-pencil-square-o"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mailbox-body">
            <div class="row m-0">
              <div class="col-sm-3 p-0 inbox-nav hidden-xs hidden-sm">
                <div class="mailbox-sideber">
                  <div class="profile-usermenu">
                    <h6>Messages box</h6>
                    <ul class="nav">
                      <li class="active"><a href="#/messages/inbox"><i class="fa fa-inbox"></i> Inbox</a></li>
                      <li><a href="#/messages/sent"><i class="fa fa-envelope-o"></i> Send Mail</a></li>
                    </ul>
                    <hr>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-9 p-0 inbox-mail">
                <div class="mailbox-content">
                    <div class="inbox-avatar" *ngFor="let notChecked of messagesNotChecked">
                      <a (click)="goToMessage(notChecked.id)" class="inbox_item unread">
                      <img src="assets/dist/img/avatar.png" class="border-green hidden-xs hidden-sm" alt="">
                      <div class="inbox-avatar-text">
                        <div class="avatar-name">{{notChecked.usernameSender}}</div>
                        <div><small><span class="bg-green badge avatar-text">New</span><span><strong>New </strong><span>{{notChecked.subject}}</span></span></small></div>
                      </div>
                      <div class="inbox-date hidden-sm hidden-xs hidden-md">
                        <div class="date">{{notChecked.time}}</div>
                      </div>
                      </a>
                    </div>

                    <div class="inbox-avatar" *ngFor="let checked of messagesChecked">
                      <a (click)="goToMessage(checked.id)" class="inbox_item">
                      <img src="assets/dist/img/avatar2.png" class="border-red hidden-xs hidden-sm" alt="">
                      <div class="inbox-avatar-text">
                        <div class="avatar-name">{{checked.usernameSender}}</div>
                        <div><small><span class="bg-red badge avatar-text">Checked</span><span><strong>Old </strong><span>{{checked.subject}}</span></span></small></div>
                      </div>
                      <div class="inbox-date hidden-sm hidden-xs hidden-md">
                        <div class="date">{{checked.time}}</div>
                      </div>
                      </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
