<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="header-icon">
      <i class="fa fa-users"></i>
    </div>
    <div class="header-title">
      <h1>Edit Profile</h1>
      <small>Edit Profile</small>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="alert alert-danger" [hidden]="!error">
      Problem Has Been Accrued! You Commented Before!
    </div>
    <div class="alert alert-success" [hidden]="!success">
      Profile Has Been Modified!
    </div>
    <div class="row">
      <!-- Form controls -->
      <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
          <div class="panel-heading">
            <div class="btn-group" id="buttonlist">
              <a class="btn btn-add ">
                <i class="fa fa-list"></i>  Edit Profile </a>
            </div>
          </div>
          <div class="panel-body">
            <form role="form" [formGroup]="modifyUserForm" (submit)="modifyUser()" id="modifyUser">
              <div class="form-row">
                <div class="form-group col-xs-4">
                  <label>First Name</label>
                  <input type="text" class="form-control" formControlName="firstName"  id="firstName" name="firstName" placeholder="Enter First Name" required>
                </div>
                <div class="form-group col-xs-4">
                  <label>Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName"  id="lastName" name="lastName" placeholder="Enter last Name" required>
                </div>
                <div class="form-group col-xs-4">
                  <label>Password </label>
                  <input type="password" class="form-control" formControlName="password"  id="password" name="password" placeholder="Enter Password" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-xs-6">
                  <label>Email</label>
                  <input type="email" class="form-control" formControlName="email"  id="email" name="email" placeholder="Enter Email" required>
                </div>
                <div class="form-group col-xs-6">
                  <label>Mobile</label>
                  <input type="number" class="form-control" formControlName="mobile"  id="mobile" name="mobile" placeholder="Enter Mobile" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-xs-6">
                  <label>Country</label>
                  <input type="text" class="form-control" formControlName="country"  id="country" name="country" placeholder="Enter Country" required>
                </div>
                <div class="form-group col-xs-6">
                  <label>City</label>
                  <input type="text" class="form-control" formControlName="city"  id="city" name="city" placeholder="Enter City" required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-xs-12">
                  <label>Address</label>
                  <textarea class="form-control" formControlName="address"  placeholder="Enter Address" id="address" name="address" rows="3" required></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-xs-12 col-xs-offset-4 col-lg-offset-5">
                  <button type="reset" style="margin:5px;"(click)="reset()" class="btn btn-warning">Reset</button>
                  <button type="submit" style="margin:5px;" class="btn btn-success">Save</button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
